<mat-form-field>
    <mat-label>Filtro de procura</mat-label>
    <select matNativeControl required [(ngModel)]="tecnico" name="tecnico">
        <option value="Nome">Nome do Tecnico</option>
        <option value="Prioridade">Prioridade</option>
    </select>
</mat-form-field>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nome a introduzir</mat-label>
        <input matInput placeholder="Ex. Ana" [(ngModel)]="input" name="input">
    </mat-form-field>
</form>

<section>
    <div class="example-button-row">
        <button mat-button (click)="testeTecn()">Procurar</button>
    </div>
</section>

<div class="info" *ngIf = visivelTec>
       <mat-table [dataSource]="resultado" class="mat-elevation-z8">
          
        <ng-container matColumnDef="tecnico_coluna" >
            <mat-header-cell *matHeaderCellDef> Tecnico </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.technician}} </mat-cell> 
        </ng-container>
    
        <ng-container matColumnDef="paciente_coluna" >
            <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell> 
        </ng-container> 


        <ng-container matColumnDef="prioridade_coluna" >
            <mat-header-cell *matHeaderCellDef> Prioridade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="data_coluna" >
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date| date:'medium':'+0100'}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="codigo.coluna" >
            <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell> 
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<div class="info" *ngIf = visivelPrio>
    <mat-table [dataSource]="resultado" class="mat-elevation-z8">

     
        <ng-container matColumnDef="tecnico_coluna" >
            <mat-header-cell *matHeaderCellDef> Tecnico </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.technician}} </mat-cell> 
        </ng-container>
    
        <ng-container matColumnDef="paciente_coluna" >
            <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell> 
        </ng-container> 


        <ng-container matColumnDef="prioridade_coluna" >
            <mat-header-cell *matHeaderCellDef> Prioridade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="data_coluna" >
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date| date:'medium':'+0100'}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="codigo.coluna" >
            <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell> 
        </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
</div>
