<h2 mat-dialog-title>Pedido</h2>

<mat-dialog-content>
    <mat-form-field class="full-width">
        <input matInput placeholder="Descrição" [(ngModel)]="description" name="description" required>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancelar</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Guardar</button>
</mat-dialog-actions>