<mat-form-field>
    <mat-label>Filtro de procura de Requests</mat-label>
    <select matNativeControl required [(ngModel)]="paciente" name="paciente" (change) = "Escolha()" >
        <option value="Nome">Nome </option>
        <option value="Data" >Data </option>
    </select>
</mat-form-field>

<form class="example-form" *ngIf=visivelInputNome >
    <mat-form-field class="example-full-width">
        <mat-label>Nome a introduzir</mat-label>
        <input matInput placeholder="Ex. Ana" [(ngModel)]="input" name="input">
    </mat-form-field>
</form>

<mat-form-field *ngIf=visivelInputData>
        <mat-label>Escolha uma data </mat-label>
    <input matInput [matDatepicker]="picker"  [(ngModel)]="inputData" name="inputData">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


<section>
    <div class="example-button-row">
        <button mat-button (click)="Requests()">Procurar</button>
    </div>
</section>

<div class="info" *ngIf=visivelNome >
    <mat-table [dataSource]="resultado" class="mat-elevation-z8" >

        <ng-container matColumnDef="request_coluna">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="description_coluna">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="time_coluna">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="code_coluna" >
            <mat-header-cell *matHeaderCellDef>Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell> 
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<div class="info" *ngIf=visivelData >
    <mat-table [dataSource]="resultado" class="mat-elevation-z8">

        <ng-container matColumnDef="time_coluna">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="request_coluna">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="description_coluna">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="code_coluna" >
            <mat-header-cell *matHeaderCellDef>Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell> 
        </ng-container>
        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
