<div class="info">
    <button mat-raised-button color="primary" class="requestbutton" (click)="createRequest()">Fazer
        Pedido</button>

    <mat-table [dataSource]="requests" class="mat-elevation-z8">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time | date:'medium':'+0000'}}</mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- Remove Column -->
        <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef> Remover </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="removeRequest(element.code)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    </mat-table>
</div>