.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.example-form {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.pass .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.sexfont{
    font-size: large;
}