<mat-card class="card1">
    <mat-card-header>
        <mat-card-title>Registar</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <!-- Nome -->
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput [formControl]="name" required>
                <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Sexo -->
        <div class="Sex">
            <label class="sexfont">Sexo: </label>
            <mat-radio-group aria-label="sex" [(ngModel)]="sex">
                <mat-radio-button value="Masculino">M</mat-radio-button>
                <mat-radio-button value="Feminino">F</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <!-- Idade -->
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Idade</mat-label>
                <input matInput [formControl]="age" type="number" required>
                <mat-error *ngIf="age.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Contacto -->
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Telemóvel</mat-label>
                <span matPrefix>+365 &nbsp;</span>
                <input type="tel" matInput placeholder="900000000" [formControl]="contact">
                <mat-error *ngIf="contact.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </form>


        <!-- Morada -->
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Morada</mat-label>
                <input matInput placeholder="Rua Camelo Castro, 400" [formControl]="address" required>
                <mat-error *ngIf="address.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Email -->
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Password -->
        <div class="pass">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <!-- Doenças -->
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Doenças </mat-label>
                <textarea matInput placeholder="Ex. Bronquite" [(ngModel)]="diseases" name="diseases"></textarea>
            </mat-form-field>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Confirmar</button>
        <button mat-stroked-button color="primary">Cancelar</button>
    </mat-card-actions>
</mat-card>