<mat-card class="card1">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form1">
            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
        <button mat-stroked-button (click)="register()" color="primary">Registe-se</button>
    </mat-card-actions>
</mat-card>