<div class="info">
    <mat-table [dataSource]="tests" class="mat-elevation-z8">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>

        <!-- Technician Column -->
        <ng-container matColumnDef="technician">
            <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
            <mat-header-cell *matHeaderCellDef> Nível de Prioridade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date | date:'medium':'+0000'}}</mat-cell>
        </ng-container>

        <!-- TestStatus Column -->
        <ng-container matColumnDef="teststatus">
            <mat-header-cell *matHeaderCellDef> Estado do Teste </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.teststatus}} </mat-cell>
        </ng-container>

        <!-- Result Column -->
        <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Atualizar </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button>
                    <mat-icon>update</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
