<mat-form-field>
    <mat-label>Filtro de procura de Utilizador</mat-label>
    <select matNativeControl required [(ngModel)]="paciente" name="paciente">
        <option value="Nome">Nome </option>
        <option value="Email">Email </option>
    </select>
</mat-form-field>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nome a introduzir</mat-label>
        <input matInput placeholder="Ex. Ana" [(ngModel)]="input" name="input">
    </mat-form-field>
</form>

<section>
    <div class="example-button-row">
        <button mat-button (click)="Paciente()">Procurar</button>
    </div>
</section>

<div class="info" *ngIf=visivelNome >
    <mat-table [dataSource]="resultado" class="mat-elevation-z8" >

        <ng-container matColumnDef="paciente_coluna">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sex_coluna">
            <mat-header-cell *matHeaderCellDef> Genero </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sex}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="age_coluna">
            <mat-header-cell *matHeaderCellDef> Idade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address_coluna">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado_coluna">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p *ngIf="element.status == 0">Não Infetado</p>
                <p *ngIf="element.status == 1">Suspeito</p>
                <p *ngIf="element.status == 2">Infetado</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email_coluna" >
            <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell> 
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<div class="info" *ngIf=visivelEmail >
    <mat-table [dataSource]="resultado" class="mat-elevation-z8">

        <ng-container matColumnDef="email_coluna" >
            <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="address_coluna">
            <mat-header-cell *matHeaderCellDef> Morada </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="paciente_coluna">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sex_coluna">
            <mat-header-cell *matHeaderCellDef> Genero </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sex}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="age_coluna">
            <mat-header-cell *matHeaderCellDef> Idade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>



        <ng-container matColumnDef="estado_coluna">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p *ngIf="element.status == 0">Não Infetado</p>
                <p *ngIf="element.status == 1">Suspeito</p>
                <p *ngIf="element.status == 2">Infetado</p>
            </mat-cell>
        </ng-container>
        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>