<div class="menu">
    <mat-tab-group class="table">
        <mat-tab label="HOME">
            <app-userdatacontrol></app-userdatacontrol>
        </mat-tab>
        <mat-tab label="MEUS PEDIDOS" *ngIf="role0 || role1 || role2">
            <app-myrequests></app-myrequests>
        </mat-tab>
        <mat-tab label="MEUS TESTES" *ngIf="role0 || role1 || role2">
            <app-mytests></app-mytests>
        </mat-tab>
        <mat-tab label="TODOS OS UTILIZADORES" *ngIf="role2">
            <app-users></app-users>
        </mat-tab>
        <mat-tab label="TODOS OS PEDIDOS" *ngIf="role2 || role1">
            <app-allrequests></app-allrequests>
        </mat-tab>
        <mat-tab label="TODOS OS TESTES" *ngIf="role2">
            <app-alltests></app-alltests>
        </mat-tab>
        <mat-tab label="CRIAR TECNICO" *ngIf="role2">
            <app-registar-tecnico></app-registar-tecnico>
        </mat-tab>
        <mat-tab label="TESTES" *ngIf="role1 || role2">
            <app-mytectests></app-mytectests>
        </mat-tab>
        <mat-tab disabled class="logb">
            <ng-template mat-tab-label>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>LOGOUT
                </button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
