<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Informação Pessoal</h3>
    <div class="card-body">
        <div id="table" class="table-editable">

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <td class="text-center fixed">Nome </td>
                    <td>{{info.name}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Sexo </td>
                    <td>{{info.sex}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Idade </td>
                    <td>{{info.age}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Nº tel. </td>
                    <td>{{info.contact}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Morada </td>
                    <td>{{info.address}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Email </td>
                    <td>{{info.email}}</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Estado </td>
                    <td *ngIf="info.status == 0">Não infetado</td>
                    <td *ngIf="info.status == 1">Suspeito</td>
                    <td *ngIf="info.status == 2">Infetado</td>
                </tr>
                <tr>
                    <td class="text-center fixed">Doenças </td>
                    <td>{{info.diseases}}</td>
                </tr>
            </table>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="edit()" >Editar</button>
    </div>
</div>
<!-- Editable table -->