<div class="info">
    <mat-table [dataSource]="requests" class="mat-elevation-z8">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time | date:'medium':'+0000'}}</mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- Accept Column -->
        <ng-container matColumnDef="accept">
            <mat-header-cell *matHeaderCellDef> Aceitar </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="acceptRequest(element.code)">
                    <mat-icon>check</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>