<div class="info">
    <mat-table [dataSource]="userslist" class="mat-elevation-z8">
        <!-- Code Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Technician Column -->
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef> idade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>

        <!-- Technician Column -->
        <ng-container matColumnDef="sex">
            <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.sex}}</mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact}}</mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Morada </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="diseases">
            <mat-header-cell *matHeaderCellDef> Doenças </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.diseases}} </mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="password">
            <mat-header-cell *matHeaderCellDef> Palavra passe </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.role}}</mat-cell>
        </ng-container>
        <!-- Technician Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.status}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteUser(element._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>